:root {
    --main-bg: #2d3439;
    --secondary-bg: #42484d;
    --cycle-border: #ffb545;
    --run-border: #00c46a;
    --main-font: #ECECEC;
    --light-font: #AAAAAA;
}

body {
    color: var(--main-font);
    font-family: "Manrope", sans-serif;

}

.w-90 {
    width: 90%;
}

.acions {
    background-color: var(--main-bg);
}




.acions img {
    height: 50px;
}

input,
select {
    width: 100%;
}

.action-center .col-12 {
    background-color: var(--secondary-bg);
    padding: 1rem 2rem;
    border-radius: .375rem;
    font-weight: 600;
}

.action-center input,
.action-center select {
    background-color: var(--main-font);
    outline: none;
    font-size: .875rem;
}

input:focus {
    background-color: #ffffff;
}

.cylcling,
.running {
    cursor: pointer;
    font-size: 15px;
}

.sub {
    color: var(--light-font);
    font-size: 10px;
}

.cylcling {
    border-color: var(--cycle-border) !important;
}

.running {
    border-color: var(--run-border) !important;
}

footer p.sub {
    font-size: 12px;

}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    font-family: "Manrope", sans-serif !important;
    background-color: var(--main-bg) !important;
    color: var(--main-font-font) !important;
    font-size: .875rem;
    border-radius: .3125rem !important;
}